---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/entries?content_type=menuItem&fields.text=Ministries&locale=*
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"1330075161b895f2d77fe71b79012c1b"
      X-Contentful-Request-Id:
      - 9e617a6f800e1a18290a36039989aa9b
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "3bZRv5ISCkui6kguIwM2U0",
                "type": "Entry",
                "createdAt": "2018-02-12T20:07:44.618Z",
                "updatedAt": "2018-02-13T20:36:25.341Z",
                "revision": 3,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "menuItem"
                  }
                }
              },
              "fields": {
                "text": {
                  "en-US": "Ministries"
                },
                "iconFA": {
                  "en-US": "fa-file-alt"
                },
                "buttonStyle": {
                  "en-US": [
                    "rounded",
                    "custom"
                  ]
                },
                "customButtonCss": {
                  "en-US": [
                    "border-color: green;"
                  ]
                },
                "link": {
                  "en-US": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Entry",
                      "id": "JhYhSfZPAOMqsaK8cYOUK"
                    }
                  }
                }
              }
            }
          ],
          "includes": {
            "Entry": [
              {
                "sys": {
                  "space": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Space",
                      "id": "<CONTENTFUL_SPACE_ID>"
                    }
                  },
                  "id": "JhYhSfZPAOMqsaK8cYOUK",
                  "type": "Entry",
                  "createdAt": "2018-02-12T20:07:25.782Z",
                  "updatedAt": "2018-02-14T19:27:58.396Z",
                  "revision": 2,
                  "contentType": {
                    "sys": {
                      "type": "Link",
                      "linkType": "ContentType",
                      "id": "page"
                    }
                  }
                },
                "fields": {
                  "title": {
                    "en-US": "Ministries"
                  },
                  "slug": {
                    "en-US": "/ministries"
                  },
                  "heroText": {
                    "en-US": "Test Test 123"
                  }
                }
              }
            ]
          }
        }
  recorded_at: Fri, 09 Mar 2018 17:41:35 GMT
recorded_with: VCR 4.0.0
