---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/content_types?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/octet-stream
      X-Contentful-Request-Id:
      - 2dfc102c3966d714deb3cb9b38d1736d
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "AccessTokenInvalid"
          },
          "message": "An access token is required. Please send one through the HTTP Authorization header or as the query parameter \"access_token\".",
          "requestId": "2dfc102c3966d714deb3cb9b38d1736d"
        }
  recorded_at: Wed, 14 Mar 2018 17:08:38 GMT
recorded_with: VCR 4.0.0
