---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/content_types?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"97b443d462a4a7d19ae3fa1472558370"
      X-Contentful-Request-Id:
      - '0892e76f2bde4709ff24ef5e35694057'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 16,
          "skip": 0,
          "limit": 5,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "homepage",
                "type": "ContentType",
                "createdAt": "2018-02-12T18:34:24.038Z",
                "updatedAt": "2018-03-05T15:18:09.821Z",
                "revision": 8
              },
              "displayField": "siteTitle",
              "name": "Homepage",
              "description": "The Homepage is a special page - it contains some fields like the Top Menu and Site Footer which are set on all other Pages.  This page is visible at the root of watermarkresources.org",
              "fields": [
                {
                  "id": "siteTitle",
                  "name": "Site Title",
                  "type": "Symbol",
                  "localized": false,
                  "required": false,
                  "disabled": false,
                  "omitted": false
                },
                {
                  "id": "favicons",
                  "name": "Favicons",
                  "type": "Array",
                  "localized": false,
                  "required": true,
                  "disabled": false,
                  "omitted": false,
                  "items": {
                    "type": "Link",
                    "validations": [
                      {
                        "linkMimetypeGroup": [
                          "image"
                        ]
                      },
                      {
                        "assetFileSize": {
                          "max": 1024
                        },
                        "message": "Favicons are supposed to be small.  Please use an image less than 100kb in size."
                      }
                    ],
                    "linkType": "Asset"
                  }
                },
                {
                  "id": "mainMenu",
                  "name": "Main Menu",
                  "type": "Link",
                  "localized": false,
                  "required": false,
                  "di[...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/content_types?limit=5&skip=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"6c9b327cee4e17c0acc044552c993fdd"
      X-Contentful-Request-Id:
      - f9ef94aa431f2[...]
[...]
