---
http_interactions:
- request:
    method: get
    uri: http://jtj.watermark.org/api?locale=*
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://jtj.watermark.org/api?locale=%2A
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 09 Mar 2018 17:47:47 GMT
- request:
    method: get
    uri: https://jtj.watermark.org/api?locale=*
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3cf7227c30222b996f1075f9cca92840"'
    body:
      encoding: UTF-8
      string: '{"curriculum":{"id":"3","title":"Join The Journey 2018","start_date":"2018-01-01","end_date":"2018-12-14","days_of_week":[1,2,3,4,5],"links":{"self":"https://jtj.watermark.org/api/curriculums/3","entries":"https://jtj.watermark.org/api/entries?curriculum_id=3"}},"latest_entry":{"id":"374","date":"2018-03-09","scripture":{"reference":"Romans
        4:1–8","version":"esv","html":"\u003ch3 id=\"p45004001_01-1\"\u003eAbraham
        Justified by Faith\u003c/h3\u003e\n\u003cp id=\"p45004001_05-1\" class=\"starts-chapter\"\u003e\u003cb
        class=\"chapter-num\" id=\"v45004001-1\"\u003e1\u0026nbsp;\u003c/b\u003eWhat
        then shall we say was gained by Abraham, our forefather according to the flesh?
        \u003cb class=\"verse-num\" id=\"v45004002-1\"\u003e2\u0026nbsp;\u003c/b\u003eFor
        if Abraham was justified by works, he has something to boast about, but n[...]
