---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/entries?limit=2&locale=*
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"ceab757f9fb8d08aee65022a8680add7"
      X-Contentful-Request-Id:
      - c99c3472c3b9b7bf5191c58e144a5c0b
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 28,
          "skip": 0,
          "limit": 2,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "1tPGouM76soIsM2e0uikgw",
                "type": "Entry",
                "createdAt": "2018-02-12T20:09:10.078Z",
                "updatedAt": "2018-02-12T20:09:10.078Z",
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "page"
                  }
                }
              },
              "fields": {
                "title": {
                  "en-US": "Privacy Policy"
                },
                "slug": {
                  "en-US": "privacy-policy"
                }
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "1IJEXB4AKEqQYEm4WuceG2",
                "type": "Entry",
                "createdAt": "2018-02-12T20:08:38.625Z",
                "updatedAt": "2018-02-12T20:08:38.625Z",
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "menuItem"
                  }
                }
              },
              "fields": {
                "text": {
                  "en-US": "About"
                },
                "link": {
                  "en-US": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Entry",
                      "id": "47PsST8EicKgWIWwK2AsW6"
                    }
                  }
                }
              }
            }
          ],
          "includes": {
            "Entry": [
              {
                "sys": {
                  "space": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Space",
                      "id": "<CONTENTFUL_SPACE_ID>"
                    }
                  },
                  "id": "47PsST8EicKgWIWwK2AsW6",
                  "type": "Entry",
                  "createdAt": "2018-02-12T20:07:13.952Z",
                  "updatedAt": "2018-02-12T20:07:13.952Z",
                  "revision": 1,
                  "contentType": {
                    "sys": {
                      "type": "Link",
                      "linkType": "ContentType",
                      "id": "page"
                    }
                  }
                },
                "fields": {
                  "title": {
                    "en-US": "About"
                  },
                  "slug": {
                    "en-US": "about"
                  }
                }
              }
            ]
          }
        }
  recorded_at: Fri, 09 Mar 2018 17:41:28 GMT
recorded_with: VCR 4.0.0
