---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/entries?limit=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"f500e01ead2e3e4a10a75e93a632ad75"
      X-Contentful-Request-Id:
      - 9e837029604f249d83ca38a12852fe35
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 28,
          "skip": 0,
          "limit": 2,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "1tPGouM76soIsM2e0uikgw",
                "type": "Entry",
                "createdAt": "2018-02-12T20:09:10.078Z",
                "updatedAt": "2018-02-12T20:09:10.078Z",
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "page"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "title": "Privacy Policy",
                "slug": "privacy-policy"
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "1IJEXB4AKEqQYEm4WuceG2",
                "type": "Entry",
                "createdAt": "2018-02-12T20:08:38.625Z",
                "updatedAt": "2018-02-12T20:08:38.625Z",
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "menuItem"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "text": "About",
                "link": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Entry",
                    "id": "47PsST8EicKgWIWwK2AsW6"
                  }
                }
              }
            }
          ],
          "includes": {
            "Entry": [
              {
                "sys": {
                  "space": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Space",
                      "id": "<CONTENTFUL_SPACE_ID>"
                    }
                  },
                  "id": "47PsST8EicKgWIWwK2AsW6",
                  "type": "Entry",
                  "createdAt": "2018-02-12T20:07:13.952Z",
                  "updatedAt": "2018-02-12T20:07:13.952Z",
                  "revision": 1,
                  "contentType": {
                    "sys": {
                      "type": "Link",
                      "linkType": "ContentType",
                      "id": "page"
                    }
                  },
                  "locale": "en-US"
                },
                "fields": {
                  "title": "About",
                  "slug": "about"
                }
              }
            ]
          }
        }
  recorded_at: Fri, 09 Mar 2018 22:48:06 GMT
recorded_with: VCR 4.0.0
