---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/content_types?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"48fe3bf3035699be0f6022f40b208479"
      X-Contentful-Request-Id:
      - 0fee503c90cd80514a3eda99b8224aa0
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 16,
          "skip": 0,
          "limit": 5,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "menuButton",
                "type": "ContentType",
                "createdAt": "2018-02-12T18:08:53.372Z",
                "updatedAt": "2018-02-14T18:33:02.426Z",
                "revision": 8
              },
              "displayField": "text",
              "name": "Menu Button",
              "description": "A Menu Button is a clickable button that goes on a Menu.  It has a link to a path or a URL.",
              "fields": [
                {
                  "id": "text",
                  "name": "Text",
                  "type": "Symbol",
                  "localized": false,
                  "required": true,
                  "disabled": false,
                  "omitted": false
                },
                {
                  "id": "iconFA",
                  "name": "Icon from Font Awesome",
                  "type": "Symbol",
                  "localized": false,
                  "required": false,
                  "disabled": false,
                  "omitted": false
                },
                {
                  "id": "buttonStyle",
                  "name": "Button Style",
                  "type": "Array",
                  "localized": false,
                  "required": false,
                  "disabled": false,
                  "omitted": false,
                  "items": {
                    "type": "Symbol",
                    "validations": [
                      {
                        "in": [
                          "rounded",
                          "faded when not active",
                          "external",
                          "custom"
                        ]
                      }
                    ]
                  }
                },
                {
                  "id": "customButtonCss",
                  "name": "Custom button CSS",
                  "type": "Array",
                  "localized": false,
                  "required": false,
                  "disabled": false,
                  "omitted": false,
                  "items": {
                    "type": "Symbol",
                    "validations": [
                      {
                        "regexp": {
                          "pattern": "^\\s*([\\w\\-\\_]+):\\s+[^;]+;$",
                          "flags": null
                        },
                        "message": "Each line must be a CSS rule, like 'background-color: blue;' 'width: 50% !important;' or 'border-color: rgba(91, 120, 05, .8);'.  Did you forget a semilcolon at the end?  Or a colon in the middle?"
                      }
                    ]
                  }
                },
                {
                  "id": "externalLink",
                  "name": "External Link",
                  "type": "Symbol",
           [...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/content_types?limit=5&skip=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"b1549cd08f8103e2c774e9f5fbe7e964"
      X-Contentful-Request-Id:
      - f3e003b179406[...]
[...]
