---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/entries?content_type=page&limit=5&locale=*
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"b1977350a109dc070ef8f5b93dabc7b3"
      X-Contentful-Request-Id:
      - 1da9e34b81e5aa22b6995644f703164d
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 8,
          "skip": 0,
          "limit": 5,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "47PsST8EicKgWIWwK2AsW6",
                "type": "Entry",
                "createdAt": "2018-02-12T20:07:13.952Z",
                "updatedAt": "2018-02-12T20:07:13.952Z",
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "page"
                  }
                }
              },
              "fields": {
                "title": {
                  "en-US": "About"
                },
                "slug": {
                  "en-US": "about"
                }
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "1loILDsvKYkmGWoiKOOgkE",
                "type": "Entry",
                "createdAt": "2018-02-12T20:09:20.161Z",
                "u[...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/entries?content_type=page&limit=5&locale=*&skip=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"226552cd121daf88aa81add943cc7eff"
      X-Contentful-Request-Id:
[...]
