---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/entries?content_type=page&fields.slug.en-US=/conferences&locale=*
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"2577ebec9ee829bc0c7b0a04a9347af9"'
      X-Contentful-Request-Id:
      - 3c700cf3279fc261d3b70d438c33e3da
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "1UojJt7YoMiemCq2mGGUmQ",
                "type": "Entry",
                "createdAt": "2018-02-12T20:07:49.118Z",
                "updatedAt": "2018-02-12T20:07:49.118Z",
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "page"
                  }
                }
              },
              "fields": {
                "title": {
                  "en-US": "Conferences"
                },
                "slug": {
                  "en-US": "/conferences"
                }
              }
            }
          ]
        }
  recorded_at: Mon, 05 Mar 2018 19:34:48 GMT
[...]
