---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/entries/4JV2MbQVoAeEUQGUmYGQGY?locale=*
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      X-Contentful-Request-Id:
      - 0a3033da08ec1a53eca36e62815e8605
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "NotFound"
          },
          "message": "The resource could not be found.",
          "details": {
            "id": "4JV2MbQVoAeEUQGUmYGQGY",
            "type": "Entry",
            "space": "<CONTENTFUL_SPACE_ID>"
          },
          "requestId": "0a3033da08ec1a53eca36e62815e8605"
        }
  recorded_at: Mon, 05 Mar 2018 19:05:17 GMT
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/assets/4JV2MbQVoAeEUQGUmYGQGY?locale=*
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"f96764be13033606480bc2bf468dc5b5"'
      X-Contentful-Request-Id:
      - 66bc0f822fae11bd8020be0809ce8a8c
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "<CONTENTFUL_SPACE_ID>"
              }
            },
            "id": "4JV2MbQVoAeEUQGUmYGQGY",
            "type": "Asset",
            "createdAt": "2018-02-12T21:59:33.792Z",
            "updatedAt": "2018-02-12T21:59:33.792Z",
            "revision": 1
          },
          "fields": {
            "title": {
              "en-US": "goat-clip-art"
            },
            "file": {
              "en-US": {
                "url": "//images.contentful.com/<CONTENTFUL_SPACE_ID>/4JV2MbQVoAeEUQGUmYGQGY/1f0e377e665d2ab94fb86b0c88e75b06/goat-clip-art.png",
                "details": {
                  "size": 62310,
                  "image": {
                    "width": 219,
                    "height": 203
                  }
                },
                "fileName": "goat-clip-art.png",
                "contentType": "image/png"
              }
            }
          }
        }
  recorded_at: Mon, 05 Mar 2018 19:05:17 GMT
recorded_with: VCR 4.0.0
