---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/entries/JhYhSfZPAOMqsaK8cYOUK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"4e512667be76f91fb8dee2ffa1d50014"'
      X-Contentful-Request-Id:
      - 9f789746b13a7936b9e9a37756dc787a
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "<CONTENTFUL_SPACE_ID>"
              }
            },
            "id": "JhYhSfZPAOMqsaK8cYOUK",
            "type": "Entry",
            "createdAt": "2018-02-12T20:07:25.782Z",
            "updatedAt": "2018-02-14T19:27:58.396Z",
            "revision": 2,
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "page"
              }
            }
          },
          "fields": {
            "title": {
              "en-US": "Ministries"
            },
            "slug": {
              "en-US": "/ministries"
            },
            "heroText": {
              "en-US": "Test Test 123"
            }
          }
        }
  recorded_at: Mon, 05 Mar 2018 20:24:55 GMT
recorded_with: VCR 4.0.0
