/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

Gemfile.lock

# exports and error logs from contentful
contentful-export*
contentful-*-error-log-*

# User local env
.envrc
.env*
