---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/entries?content_type=redirect&fields.slug=redirect-with-slug-only&include=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"a21bd6b38b964358b2a9406f7e75e164"'
      X-Contentful-Request-Id:
      - 8c635472eecef6f193e5a3eb829d0edc
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "2hITcoKfSkGqW2OCEUyYOm",
                "type": "Entry",
                "createdAt": "2018-02-13T22:18:16.811Z",
                "updatedAt": "2018-02-13T22:18:16.811Z",
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "redirect"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "slug": "redirect-with-slug-only"
              }
            }
          ]
        }
  recorded_at: Fri, 16 Feb 2018 05:22:19 GMT
recorded_with: VCR 4.0.0
