---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/entries/3bZRv5ISCkui6kguIwM2U0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"9636a4f56785410afb51f0f7dd4dd1fe"'
      X-Contentful-Request-Id:
      - c135e07d9fd3ae8795b4f04b5b2165a0
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "<CONTENTFUL_SPACE_ID>"
              }
            },
            "id": "3bZRv5ISCkui6kguIwM2U0",
            "type": "Entry",
            "createdAt": "2018-02-12T20:07:44.618Z",
            "updatedAt": "2018-02-13T20:36:25.341Z",
            "revision": 3,
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "menuButton"
              }
            }
          },
          "fields": {
            "text": {
              "en-US": "Ministries"
            },
            "iconFA": {
              "en-US": "fa-file-alt"
            },
            "buttonStyle": {
              "en-US": [
                "rounded",
                "custom"
              ]
            },
            "customButtonCss": {
              "en-US": [
                "border-color: green;"
              ]
            },
            "link": {
              "en-US": {
                "sys": {
                  "type": "Link",
                  "linkType": "Entry",
                  "id": "JhYhSfZPAOMqsaK8cYOUK"
                }
              }
            }
          }
        }
  recorded_at: Fri, 09 Mar 2018 22:10:36 GMT
recorded_with: VCR 4.0.0
