---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/entries/4JV2MbQVoAeEUQGUmYGQGY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      X-Contentful-Request-Id:
      - 0dcf7098d58f5ae63af15dbff9dce2d3
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "NotFound"
          },
          "message": "The resource could not be found.",
          "details": {
            "id": "4JV2MbQVoAeEUQGUmYGQGY",
            "type": "Entry",
            "space": "<CONTENTFUL_SPACE_ID>"
          },
          "requestId": "0dcf7098d58f5ae63af15dbff9dce2d3"
        }
  recorded_at: Fri, 09 Mar 2018 22:10:36 GMT
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/assets/4JV2MbQVoAeEUQGUmYGQGY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"ac8baa89f81e8eaf617004dfe4c3156d"'
      X-Contentful-Request-Id:
      - d3648b0d33d3aa071affc2e968f23661
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "<CONTENTFUL_SPACE_ID>"
              }
            },
            "id": "4JV2MbQVoAeEUQGUmYGQGY",
            "type": "Asset",
            "createdAt": "2018-02-12T21:59:33.792Z",
            "updatedAt": "2018-02-12T21:59:33.792Z",
            "revision": 1,
            "locale": "en-US"
          },
          "fields": {
            "title": "goat-clip-art",
            "file": {
              "url": "//images.ctfassets.net/<CONTENTFUL_SPACE_ID>/4JV2MbQVoAeEUQGUmYGQGY/1f0e377e665d2ab94fb86b0c88e75b06/goat-clip-art.png",
              "details": {
                "size": 62310,
                "image": {
                  "width": 219,
                  "height": 203
                }
              },
              "fileName": "goat-clip-art.png",
              "contentType": "image/png"
            }
          }
        }
  recorded_at: Fri, 09 Mar 2018 22:10:36 GMT
recorded_with: VCR 4.0.0
