---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/entries?content_type=system&fields.system=One&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"4d4071708e1d8de5d1b0fe359c965137"'
      X-Contentful-Request-Id:
      - 49465ebf2b69c3c5e8f48b5cdf8ee097
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "2eXv0N3vUkIOWAauGg4q8a",
                "type": "Entry",
                "createdAt": "2018-04-24T19:30:05.401Z",
                "updatedAt": "2018-04-24T19:30:05.401Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "system"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "title": "Test System 1",
                "system": "One"
              }
            }
          ]
        }
  recorded_at: Tue, 24 Apr 2018 19:32:08 GMT
recorded_with: VCR 4.0.0
