---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/assets?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"5f268b7cc889d5327ef261b8343fdcaa"
      X-Contentful-Request-Id:
      - f83cfd618161b1a34bf84fb49f52b6f3
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 6,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "4JV2MbQVoAeEUQGUmYGQGY",
                "type": "Asset",
                "createdAt": "2018-02-12T21:59:33.792Z",
                "updatedAt": "2018-02-12T21:59:33.792Z",
                "revision": 1,
                "locale": "en-US"
              },
              "fields": {
                "title": "goat-clip-art",
                "file": {
                  "url": "//images.ctfassets.net/<CONTENTFUL_SPACE_ID>/4JV2MbQVoAeEUQGUmYGQGY/1f0e377e665d2ab94fb86b0c88e75b06/goat-clip-art.png",
                  "details": {
                    "size": 62310,
                    "image": {
                      "width": 219,
                      "height": 203
                    }
                  },
                  "fileName": "goat-clip-art.png",
                  "contentType": "image/png"
                }
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "2zKTmej544IakmIqoEu0y8",
                "type": "Asset",
                "createdAt": "2018-02-12T19:51:26.894Z",
                "updatedAt": "2018-02-12T19[...]
