---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/testxxxx/content_types?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test5678
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      X-Contentful-Request-Id:
      - 3915ffa5cc138a0fb0cf82f685080a96
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "AccessTokenInvalid"
          },
          "message": "The access token you sent could not be found or is invalid.",
          "requestId": "3915ffa5cc138a0fb0cf82f685080a96"
        }
  recorded_at: Fri, 02 Mar 2018 00:28:58 GMT
recorded_with: VCR 4.0.0
