---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/content_types?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"d46a9fabd1f5c6caa2fe99646f3ebc20"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35998'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 6d41fe53dd6b98a4608d0fea0e60d15a
      X-Iinfo:
      - 5-35207864-35207865 NNNN CT(32 33 0) RT(1520638636611 21) q(0 0 0 -1) r(1
        2) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 17,
          "skip": 0,
          "limit": 1000,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "menuButton",
                "type": "ContentType",
                "createdAt": "2018-02-12T18:08:52.787Z",
                "updatedAt": "2018-02-14T18:33:02.426Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "0SUbYs2vZlXjVR6bH6o83O"
                  }
                },
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "0SUbYs2vZlXjVR6bH6o83O"
                  }
                },
                "publishedCounter": 8,
                "version": 16,
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "0SUbYs2vZlXjVR6bH6o83O"
                  }
                },
                "publishedVersion": 15,
                "firstPublishedAt": "2018-02-12T18:08:53.372Z",
                "publishedAt": "2018-02-14T18:33:02.426Z"
              },
              "displayField": "text",
              "name": "Menu Button",
              "description": "A Menu Button is a clickable button that goes on a Menu.  It has a link to a path or a URL.",
              "fields": [
                {
                  "id": "text",
                  "name": "Text",
                  "type": "Symbol",
                  "localized": false,
                  "required": true,
                  "validations": [
                    {
                      "size": {
                        "max": 60
                      },
                      "message": "a MenuButton's text field should be very short - ideally a single word.  Please limit the text to 60 characters or less."
                    }
                  ],
                  "disabled": false,
                  "omitted": false
                },
                {
                  "id": "iconFA",
                  "name": "Icon from Font Awesome",
                  "type": "Symbol",
                  "localized": false,
                  "required": false,
                  "validations": [
                    {
                      "regexp": {
                        "pattern": "^fa\\-[\\w\\-]+$",
                        "flags": null
                      },
                      "message": "The icon should be the name of a FontAwesome icon - example: 'fa-accessible-icon' which is this one: https://fontawesome.com/icons/accessible-icon"
                    }
                  ],
                  "disabled": false,
                  "omitted": false
                },
                {
                  "id": "buttonStyle",
                  "name": "Button Style",
                  "type": "Array",
                  "localized": false,
                  "required": false,
                  "validations": [],
                  "disabled": false,
                  "omitted": false,
                  "items": {
                    "type": "Symbol",
                    "validations": [
                      {
                        "in": [
                          "rounded",
                          "faded when not active",
                          "external",
                          "custom"
                        ]
                      }
                    ]
                  }
                },
                {
                  "id": "customButtonCss",
                  "name": "Custom button CSS",
                  "type": "Array",
                  "localized": false,
                  "required": false,
       [...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/sync?initial=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"0c60e2937eb92ca6f92e3f5371ce97d5"
      X-Contentful-Request-Id:
      - d31ac9a9f6b55bf702b9f1b82cb102c7
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "4ssPJYNGPYQMMwo2gKmISo",
                "type": "Entry",
                "createdAt": "2018-02-12T20:09:52.470Z",
                "updatedAt": "2018-02-23T21:08:45.435Z",
                "revision": 5,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "homepage"
                  }
                }
              },
              "fields": {
                "siteTitle": {
                  "en-US": "Watermark Resources"
                },
                "favicons": {
                  "en-US": [
                    {
                      "sys": {
                        "type": "Link",
                        "linkType": "Asset",
                        "id": "2zKTmej544IakmIqoEu0y8"
                      }
                    },
                    {
                      "sys": {
                        "type": "Link",
                        "linkType": "Asset",
                        "id": "1MsOLBrDwEUAUIuMY8Ys6o"
                      }
                    },
                    {
                      "sys": {
                        "type": "Link",
                        "linkType": "Asset",
                        "id": "6MbzYciSPKkcWIUUS2UGSw"
                      }
                    },
                    {
                      "sys": {
                        "type": "Link",
                        "linkType": "Asset",
                        "id": "3pWma8spR62aegAWAWacyA"
                      }
                    }
                  ]
                },
                "mainMenu": {
                  "en-US": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Entry",
                      "id": "FNlqULSV0sOy4IoGmyWOW"
                    }
                  }
                },
                "heroImage": {
                  "en-US": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Asset",
                      "id": "572YrsdGZGo0sw2Www2Si8"
                    }
                  }
                },
                "heroText": {
                  "en-US": "Biblically Investing in Our People"
                },
                "heroButtons": {
                  "en-US": [
                    {
                      "sys": {
                        "type": "Link",
                        "linkType": "Entry",
                        "id": "4W3ADPamKsMOg6Gu8aGwOu"
                      }
                    },
                    {
                      "sys": {
                        "type": "Link",
                        "linkType": "Entry",
                        "id": "3Jmk4yOwhOY0yKsI6mAQ2a"
                      }
                    }
                  ]
                },
                "sections": {
                  "en-US": [
                    {
                      "sys": {
                        "type": "Link",
                        "linkType": "Entry",
                        "id": "6nDGEkPhn28Awg2MqeEAAK"
                      }
                    },
                    {
                      "sys": {
                        "type": "Link",
                        "linkType": "Entry",
                        "id": "3hYHDfAalGMAQOUeuKSa6E"
                      }
                    }
                  ]
                }
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "6nDGEkPhn28Awg2MqeEAAK",
                "type": "Entry",
                "createdAt": "2018-02-13T22:54:35.359Z",
                "updatedAt": "2018-02-23T21:07:54.897Z",
                "revision": 3,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "section-Faq"
                  }
                }
              },
              "fields": {
                "helpText": {
                  "en-US": "asdf"
                },
                "faqs": {
                  "en-US": [
                    {
                      "sys": {
                        "type": "Link",
                        "linkType": "Entry",
                        "id": "1nzrZZShhWQsMcey28uOUQ"
                      }
                    },
                    {
                      "sys": {
                        "type": "Link",
                        "linkType": "Entry",
                        "id": "60sCaqwpUsui2i0eeaySoM"
                      }
                    }
                  ]
                }
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "1nzrZZShhWQsMcey28uOUQ",
                "type": "Entry",
                "createdAt": "2018-02-23T16:37:06.655Z",
                "updatedAt": "2018-02-23T16:37:06.655Z",
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "faq"
                  }
                }
              },
              "fields": {
                "question": {
                  "en-US": "A Faq"
                },
                "answer": {
                  "en-US": "This is my anwers"
                },
                "numFaqs": {
                  "en-US": 2
                },
                "numFaqsFloat": {
                  "en-US": 2
                },
                "dateOfFaq": {
                  "en-US": "2018-02-01T00:00-06:00"
                },
                "truthyOrFalsy": {
                  "en-US": false
                },
                "placeOfFaq": {
                  "en-US": {
                    "lon": 13.4033203125,
                    "lat": 52.5391688192368
                  }
                }
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "4QmCzgmFBCygG4Cig2mikE",
                "type": "Entry",
                "createdAt": "2018-02-23T14:45:29.198Z",
                "updatedAt": "2018-02-23T14:45:29.198Z",
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "redirect"
                  }
                }
              },
              "fields": {
                "slug": {
                  "en-US": "mister_roboto"
                },
                "pageReference": {
                  "en-US": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Entry",
                      "id": "1UojJt7YoMiemCq2mGGUmQ"
                    }
                  }
                }
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "3SNzR5Y0GQCWaCYUEeYAWK",
                "type": "Entry",
                "createdAt": "2018-02-23T14:45:00.943Z",
                "updatedAt": "2018-02-23T14:45:00.943Z",
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "redirect"
                  }
                }
              },
              "fields": {
                "slug": {
                  "en-US": "test"
                },
                "url": {
                  "en-US": "https://www.test.com/"
                }
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "7d73xC0RPiciy68yUWEoYU",
                "type": "Entry",
                "createdAt": "2018-02-22T21:12:47.435Z",
                "updatedAt": "2018-02-22T21:12:47.435Z",
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "migrationHistory"
                  }
                }
              },
              "fields": {
                "migrationName": {
                  "en-US": "20180219160530_test_migration.ts"
                },
                "started": {
                  "en-US": "2018-02-22T21:12:45.621Z"
                },
                "completed": {
                  "en-US": "2018-02-22T21:12:46.699Z"
                },
                "detail": {
                  "en-US": [
                    {
                      "intent": {
                        "intents": [
                          {
                            "meta": {
                              "callsite": {
                                "file": "/Users/gburgett/projects/wm/jtj-com/db/migrate/20180219160530_test_migration.ts",
                                "line": 3
                              },
                              "contentTypeInstanceId": "contentType/dog/0"
                            },
                            "type": "contentType/create",
                            "payload": {
                              "contentTypeId": "dog"
                            }
                          },
                          {
                            "meta": {
                              "callsite": {
                                "file": "/Users/gburgett/projects/wm/jtj-com/db/migrate/20180219160530_test_migration.ts",
                                "line": 3
                              },
                              "contentTypeInstanceId": "contentType/dog/0"
                            },
                            "type": "contentType/update",
                            "payload": {
                              "props": {
                                "name": "Dog"
                              },
                              "contentTypeId": "dog"
                            }
                          },
                          {
                            "meta": {
                              "callsite": {
                                "file": "/Users/gburgett/projects/wm/jtj-com/db/migrate/20180219160530_test_migration.ts",
                                "line": 6
                              },
                              "fieldInstanceId": "fields/name/0",
                              "contentTypeInstanceId": "contentType/dog/0"
                            },
                            "type": "field/create",
                            "payload": {
                              "fieldId": "name",
                              "contentTypeId": "dog"
                            }
                          },
                          {
                            "meta": {
                              "callsite": {
                                "file": "/Users/gburgett/projects/wm/jtj-com/db/migrate/20180219160530_test_migration.ts",
                                "line": 7
                              },
                              "fieldInstanceId": "fields/name/0",
     [...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/sync?sync_token=w5ZGw6JFwqZmVcKsE8Kow4grw45QdybCpsOKdcK_ZjDCpMOFwpXDq8KRUE1Fw613K8KyA8OIwqvCtDfChhbCpsO7CjfDssOKw7YtXMOnwobDjcKrw7XDjMKHw7jCq8K1wrRRwpHCqMKIwr_DoMKSwrnCqS0qw47DkShzZ8K3V8KR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"53ddcbc5d520c75ff72893ec74d8711b"'
      X-Contentful-Request-Id:
      - 20d05b8dedf807581d8b3f0e46ac56d0
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "items": [],
          "nextSyncUrl": "https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/sync?sync_token=w5ZGw6JFwqZmVcKsE8Kow4grw45QdybCpsOKdcK_ZjDCpMOFwpXDq8KRUE1Fw613K8KyA8OIwqvCtDfChhbCpsO7CjfDssOKw7YtXMOnwobDjcKrw7XDjMKHw7jCq8K1wrRRwpHCqMKIwr_DoMKSwrnCqS0qw47DkShzZ8K3V8KR"
        }
  recorded_at: Fri, 09 Mar 2018 23:37:17 GMT
recorded_with: VCR 4.0.0
