---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/content_types?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"331b6b833ec355efa1de449b65cc5d69"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35998'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 8f74a61f08a5df9975186eea3d8f0cdf
      X-Iinfo:
      - 10-14204484-14204488 NNNN CT(40 37 0) RT(1521756453269 15) q(0 0 1 1) r(4
        5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 17,
          "skip": 0,
          "limit": 1000,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "section-VideoHighlight",
                "type": "ContentType",
                "createdAt": "2018-02-12T19:41:52.641Z",
                "updatedAt": "2018-02-14T18:29:57.501Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "0SUbYs2vZlXjVR6bH6o83O"
                  }
                },
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "0SUbYs2vZlXjVR6bH6o83O"
                  }
                },
                "publishedCounter": 4,
                "version": 8,
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "0SUbYs2vZlXjVR6bH6o83O"
                  }
                },
                "publishedVersion": 7,
                "firstPublishedAt": "2018-02-12T19:41:52.801Z",
                "publishedAt": "2018-02-14T18:29:57.500Z"
              },
              "displayField": "text",
              "name": "Section: Video Highlight",
              "description": "The Video Highlight section includes a player for Youtube videos.",
              "fields": [
                {
                  "id": "text",
                  "name": "Text",
                  "type": "Text",
                  "localized": false,
                  "required": true,
                  "validations": [],
                  "disabled": false,
                  "omitted": false
                },
                {
                  "id": "youtubeLink",
                  "name": "youtubeLink",
                  "type": "Symbol",
                  "localized": false,
                  "required": false,
                  "validations": [],
                  "disabled": false,
                  "omitted": false
                },
                {
                  "id": "video",
                  "name": "Video",
                  "type": "Link",
                  "localized": false,
                  "required": false,
                  "validations": [
                    {
                      "linkMimetypeGroup": [
                        "video"
                      ]
                    }
                  ],
                  "disabled": false,
                  "omitted": false,
                  "linkType": "Asset"
                },
                {
                  "id": "theme",
                  "name": "Theme",
                  "type": "Link",
                  "localized": false,
                  "required": false,
                  "validations": [
                    {
                      "linkContentType": [
                        "theme"
                      ]
                    }
                  ],
                  "disabled": false,
                  "omitted": false,
                  "linkType": "Entry"
                }
              ]
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
[...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/sync?initial=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"3ab84bc4a66916cf9d8ac010e3849851"
      X-Contentful-Request-Id:
      - d7e66a7556c79b0b571a6750b3369db1
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "47PsST8EicKgWIWwK2AsW6",
                "type": "Entry",
                "createdAt": "2018-02-12T20:07:13.952Z",
                "updatedAt": "2018-03-15T13:51:57.587Z",
                "revision": 3,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "page"
                  }
                }
              },
              "fields": {
                "title": {
                  "en-US": "About"
                },
                "slug": {
                  "en-US": "about"
                },
                "heroImage": {
                  "en-US": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Asset",
                      "id": "572YrsdGZGo0sw2Www2Si8"
                    }
                  }
                },
                "heroText": {
                  "en-US": "Some test hero text"
                },
                "subMenu": {
                  "en-US": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Entry",
                      "id": "6y9DftpiYoA4YiKg2CgoUU"
                    }
                  }
                },
                "sections": {
                  "en-US": [
                    {
                      "sys": {
                        "type": "Link",
                        "linkType": "Entry",
                        "id": "6nDGEkPhn28Awg2MqeEAAK"
                      }
                    }
                  ]
                }
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "1qLdW7i7g4Ycq6i4Cckg44",
                "type": "Entry",
                "createdAt": "2018-03-09T23:39:27.737Z",
                "updatedAt": "2018-03-09T23:39:27.737Z",
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "redirect"
                  }
                }
              },
              "fields": {
                "slug": {
                  "en-US": "redirect-with-slug-and-url"
                },
                "url": {
                  "en-US": "http://www.google.com"
                }
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "4ssPJYNGPYQMMwo2gKmISo",
                "type": "Entry",
                "createdAt": "2018-02-12T20:09:52.470Z",
                "updatedAt": "2018-02-23T21:08:45.435Z",
                "revision": 5,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "homepage"
                  }
                }
              },
              "fields": {
                "siteTitle": {
                  "en-US": "Watermark Resources"
                },
                "favicons": {
                  "en-US": [
                    {
                      "sys": {
                        "type": "Link",
                        "linkType": "Asset",
                        "id": "2zKTmej544IakmIqoEu0y8"
                      }
                    },
                    {
                      "sys": {
                        "type": "Link",
                        "linkType": "Asset",
                        "id": "1MsOLBrDwEUAUIuMY8Ys6o"
                      }
                    },
                    {
                      "sys": {
                        "type": "Link",
                        "linkType": "Asset",
                        "id": "6MbzYciSPKkcWIUUS2UGSw"
                      }
                    },
                    {
                      "sys": {
                        "type": "Link",
                        "linkType": "Asset",
                        "id": "3pWma8spR62aegAWAWacyA"
                      }
                    }
                  ]
                },
                "mainMenu": {
                  "en-US": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Entry",
                      "id": "FNlqULSV0sOy4IoGmyWOW"
                    }
                  }
                },
                "heroImage": {
                  "en-US": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Asset",
                      "id": "572YrsdGZGo0sw2Www2Si8"
                    }
                  }
                },
                "heroText": {
                  "en-US": "Biblically Investing in Our People"
                },
                "heroButtons": {
                  "en-US": [
                    {
                      "sys": {
                        "type": "Link",
                        "linkType": "Entry",
                        "id": "4W3ADPamKsMOg6Gu8aGwOu"
                      }
                    },
                    {
                      "sys": {
                        "type": "Link",
                        "linkType": "Entry",
                        "id": "3Jmk4yOwhOY0yKsI6mAQ2a"
                      }
           [...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/sync?sync_token=w5ZGw6JFwqZmVcKsE8Kow4grw45QdyZmLnTDjQJiw5UMM8K0wpEsS8KuDlojw6ogwrfCssK5w4XDisO4HjE7EsKvwpNEw43Cjg7Duz9wwrfCisKow7zCjsKdwo8vwrEUw65Zw43CnMKfHcOnG13CsivDqF_DsC1q
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"6f202299dc2f51644e125bd4bb4634f6"'
      X-Contentful-Request-Id:
      - b80e185d8af3a3e86fdf3271d6405ddb
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "items": [],
          "nextSyncUrl": "https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/sync?sync_token=w5ZGw6JFwqZmVcKsE8Kow4grw45QdyZmLnTDjQJiw5UMM8K0wpEsS8KuDlojw6ogwrfCssK5w4XDisO4HjE7EsKvwpNEw43Cjg7Duz9wwrfCisKow7zCjsKdwo8vwrEUw65Zw43CnMKfHcOnG13CsivDqF_DsC1q"
        }
  recorded_at: Thu, 22 Mar 2018 22:07:34 GMT
recorded_with: VCR 4.0.0
