---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/entries?content_type=menuButton
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"dccaa4a67edd1b4d225d475bacbc75a3"
      X-Contentful-Request-Id:
      - 7d0647f2e0a6b6e67a3a6989b74c08a8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 11,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "1IJEXB4AKEqQYEm4WuceG2",
                "type": "Entry",
                "createdAt": "2018-02-12T20:08:38.625Z",
                "updatedAt": "2018-02-12T20:08:38.625Z",
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "menuButton"
                  }
                }
              },
              "fields": {
                "text": {
                  "en-US": "About"
                },
                "link": {
                  "en-US": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Entry",
                      "id": "47PsST8EicKgWIWwK2AsW6"
                    }
                  }
                }
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "4Gye0ybf2EiWCgSyEg0cyE",
                "type": "Entry",
                "createdAt": "2018-02-12T20:08:26.617Z",
                "updatedAt": "2018-02-12T22:01:56.925Z",
                "revision": 3,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "menuButton"
                  }
                }
              },
              "fields": {
                "text": {
                  "en-US": "Cart"
                },
                "iconFA": {
                  "en-US": "fa-shopping-cart"
                },
                "buttonStyle": {
                  "en-US": [
                    "rounded"
                  ]
                },
                "link": {
                  "en-US": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Entry",
                      "id": "3Azc4SjWSsYIuYO8m8qqQE"
                    }
                  }
                }
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {[...]
[...]
