<div class="row justify-content-center">
  <div class="col col-lg-8">
    <% if section.tag.present? %>
      <span class="section-marquee-text__tag"><%= section.tag %></span>
    <% end %>
    <h2 class="section-marquee-text__title"><%= section.title %></h2>
    <% if section.body.present? %>
      <hr class="section-marquee-text__divider">
      <p class="section-marquee-text__body safe-line-break"><%= safe_line_break(section.body) %></p>
    <% end %>
  </div>
</div>
