---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/entries?content_type=redirect&fields.slug=redirect-with-slug-and-url&include=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"9e18a73933b5a939dc5829d1b5b40b50"'
      X-Contentful-Request-Id:
      - 3909de3802ddb1e6a176a2372044ce0b
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "4q9ydy1mwoaAy4kmIG6kUI",
                "type": "Entry",
                "createdAt": "2018-02-19T22:00:26.146Z",
                "updatedAt": "2018-02-19T22:00:26.146Z",
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "redirect"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "slug": "redirect-with-slug-and-url",
                "url": "https://survey.watermark.org/survey/4b2018"
              }
            }
          ]
        }
  recorded_at: Tue, 20 Feb 2018 18:53:59 GMT
recorded_with: VCR 4.0.0
