---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/entries?content_type=menuButton&fields.link.fields.slug.en-US=/conferences&fields.link.sys.contentType.sys.id=page&limit=1&locale=*
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"c85a19419bcf36276a0ef607647c4554"
      X-Contentful-Request-Id:
      - 47eff39c34c6c9d0c0b43fa438b20291
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "4j79PYivYIWuqwA4scaAOW",
                "type": "Entry",
                "createdAt": "2018-03-29T21:58:26.691Z",
                "updatedAt": "2018-03-29T21:58:26.691Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "menuButton"
                  }
                }
              },
              "fields": {
                "text": {
                  "en-US": "Conferences"
                },
                "link": {
                  "en-US": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Entry",
                      "id": "1UojJt7YoMiemCq2mGGUmQ"
                    }
                  }
                }
              }
            }
          ],
          "includes": {
            "Entry": [
              {
                "sys": {
                  "space": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Space",
                      "id": "<CONTENTFUL_SPACE_ID>"
                    }
                  },
                  "id": "1UojJt7YoMiemCq2mGGUmQ",
                  "type": "Entry",
                  "createdAt": "2018-02-12T20:07:49.118Z",
                  "updatedAt": "2018-02-12T20:07:49.118Z",
                  "environment": {
                    "sys": {
                      "id": "master",
                      "type": "Link",
                      "linkType": "Environment"
                    }
                  },
                  "revision": 1,
                  "contentType": {
                    "sys": {
                      "type": "Link",
                      "linkType": "ContentType",
                      "id": "page"
                    }
                  }
                },
                "fields": {
                  "title": {
                    "en-US": "Conferences"
                  },
                  "slug": {
                    "en-US": "/conferences"
                  }
                }
              }
            ]
          }
        }
  recorded_at: Fri, 20 Apr 2018 22:26:18 GMT
recorded_with: VCR 4.0.0
