---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/entries?content_type=page&fields.slug.en-US=/conferences&locale=*
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"33704952500f584d04397c6561150b2f"'
      X-Contentful-Request-Id:
      - 0df040c96ec86f85250d3db4aebc8e32
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "1UojJt7YoMiemCq2mGGUmQ",
                "type": "Entry",
                "createdAt": "2018-02-12T20:07:49.118Z",
                "updatedAt": "2018-02-12T20:07:49.118Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "page"
                  }
                }
              },
              "fields": {
                "title": {
                  "en-US": "Conferences"
                },
                "slug": {
                  "en-US": "/conferences"
                }
              }
            }
          ]
        }
  recorded_at: Mon, 23 Apr 2018 21:31:57 GMT
recorded_with: VCR 4.0.0
