---
http_interactions:
- request:
    method: get
    uri: https://preview.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/entries?content_type=redirect&fields.slug.en-US=draft-redirect&limit=1&locale=*
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 665913d6385fb05abc577d8df312edbe737c5ec34baec6f7aca98af29f567150
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"c37d2b6451a14490aec45cc0623984d3"'
      X-Contentful-Request-Id:
      - 8cba98240fd5cadf612fd057c23d278e
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "type": "Entry",
                "id": "6EnvdUeFskygWy2sSocSqC",
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "redirect"
                  }
                },
                "revision": 0,
                "createdAt": "2018-04-06T16:37:08.011Z",
                "updatedAt": "2018-04-10T21:05:11.960Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                }
              },
              "fields": {
                "slug": {
                  "en-US": "draft-redirect"
                },
                "url": {
                  "en-US": "https://google.com"
                }
              }
            }
          ]
        }
  recorded_at: Fri, 20 Apr 2018 19:40:29 GMT
recorded_with: VCR 4.0.0
