---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/entries?content_type=redirect2&fields.slug.en-US=published-redirect&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"14667d902e84ee21d9728077e5132b9d"'
      X-Contentful-Request-Id:
      - 6455c214da5f3f3ddd10a426e966d91d
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "7fkNyeM7IIA0AsWwey2KWY",
                "type": "Entry",
                "createdAt": "2018-04-05T21:37:18.741Z",
                "updatedAt": "2018-04-19T14:58:50.767Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 4,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "redirect2"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "slug": "published-redirect",
                "url": "https://watermark.formstack.com/forms/theporch"
              }
            }
          ]
        }
  recorded_at: Fri, 20 Apr 2018 19:40:28 GMT
recorded_with: VCR 4.0.0
