---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/content_types?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"dfc5713248908abec497e34a85c87958"
      X-Contentful-Request-Id:
      - f8476188d071c89a421518db9ddd42eb
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 21,
          "skip": 0,
          "limit": 1000,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "icon",
                "type": "ContentType",
                "createdAt": "2018-04-05T21:23:16.873Z",
                "updatedAt": "2018-04-05T22:07:57.946Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 3
              },
              "displayField": "title",
              "name": "Icon",
              "description": "",
              "fields": [
                {
                  "id": "title",
                  "name": "Title",
                  "type": "Symbol",
                  "localized": false,
                  "required": true,
                  "disabled": false,
                  "omitted": false
                },
                {
                  "id": "images",
                  "name": "Images",
                  "type": "Link",
                  "localized": false,
                  "required": false,
                  "disabled": false,
                  "omitted": false,
                  "linkType": "Asset"
                },
                {
                  "id": "url",
                  "name": "URL",
                  "type": "Symbol",
                  "localized"[...]
