---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/entries?content_type=redirect&fields.slug.en-US=published-redirect&locale=*
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"c8e49f96095fd63416f729ef60920364"'
      X-Contentful-Request-Id:
      - cb4758ec1e0b2b0cee90c2fac7dd7e25
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "7fkNyeM7IIA0AsWwey2KWY",
                "type": "Entry",
                "createdAt": "2018-04-05T21:37:18.741Z",
                "updatedAt": "2018-04-10T21:05:31.208Z",
                "revision": 3,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "redirect"
                  }
                }
              },
              "fields": {
                "slug": {
                  "en-US": "published-redirect"
                },
                "url": {
                  "en-US": "https://watermark.formstack.com/forms/theporch"
                }
              }
            }
          ]
        }
  recorded_at: Thu, 12 Apr 2018 20:40:35 GMT
recorded_with: VCR 4.0.0
