---
http_interactions:
- request:
    method: get
    uri: https://preview.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/entries?content_type=redirect&fields.slug.en-US=published-redirect&locale=*
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 665913d6385fb05abc577d8df312edbe737c5ec34baec6f7aca98af29f567150
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"eb0943d35d6a9133828966f089ce5a23"'
      X-Contentful-Request-Id:
      - 6ff6ddc40383b9ce8da2fd2bf9c5dfaf
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "type": "Entry",
                "id": "7fkNyeM7IIA0AsWwey2KWY",
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "redirect"
                  }
                },
                "revision": 3,
                "createdAt": "2018-04-05T21:30:41.052Z",
                "updatedAt": "2018-04-10T21:05:31.208Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                }
              },
              "fields": {
                "slug": {
                  "en-US": "published-redirect"
                },
                "url": {
                  "en-US": "https://watermark.formstack.com/forms/theporch"
                }
              }
            }
          ]
        }
  recorded_at: Thu, 19 Apr 2018 00:07:47 GMT
recorded_with: VCR 4.0.0
