---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/specs/entries?limit=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"24ad75d674d1b9c81319d01958e11f8c"
      X-Contentful-Request-Id:
      - 65f44faa66e09ebb84f38960dfe5b673
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 29,
          "skip": 0,
          "limit": 2,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "ym4r3nweSywSuw042uUUk",
                "type": "Entry",
                "createdAt": "2018-04-03T21:48:01.104Z",
                "updatedAt": "2018-04-03T21:48:01.104Z",
                "environment": {
                  "sys": {
                    "id": "specs",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "faq"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "question": "Random Question",
                "answer": "Do you have a faith?"
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "1qXeLjFXoIuqEqgckoMyAM",
                "type": "Entry",
                "createdAt": "2018-03-29T15:43:53.187Z",
                "updatedAt": "2018-03-29T15:43:53.188Z",
                "environment": {
                  "sys": {
                    "id": "specs",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "menuButton"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "text": "More",
                "ionIcon": "ion-android-menu"
              }
            }
          ]
        }
  recorded_at: Wed, 04 Apr 2018 15:24:45 GMT
recorded_with: VCR 4.0.0
