---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/specs/entries?content_type=faq&limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"8c20c0282ff1d5b6bc624caffe05f5f0"
      X-Contentful-Request-Id:
      - 795fd17f82dab5a5af32ab083328c921
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 8,
          "skip": 0,
          "limit": 5,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "6ktgj3Bc88kmWuM4gSM686",
                "type": "Entry",
                "createdAt": "2018-04-03T21:47:40.847Z",
                "updatedAt": "2018-04-03T21:47:40.847Z",
                "environment": {
                  "sys": {
                    "id": "specs",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "faq"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "question": "Bloop Blop"
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "PqDxIBykmq2sucqQGUeCC",
                "type": "Entry",
                "createdAt": "2018-04-03T21:48:23.633Z",
                "updatedAt": "2018-04-03T21:48:23.633Z",
                "environment": {
                  "sys": {
                    "id": "specs",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "faq"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "question": "I ask because...",
                "answer": "you seem like you need Jesus"
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "ym4r3nweSywSuw042uUUk",
                "type": "Entry",
                "createdAt": "2018-04-03T21:48:01.104Z",
                "updatedAt": "2018-04-03T21[...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/environments/specs/entries?content_type=faq&limit=5&skip=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"95da252ea2031ed752fd1611565398e0"
      X-Contentful-Req[...]
