---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/sync?initial=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"686936a06553079faabdc89dd69b0e5c"
      X-Contentful-Request-Id:
      - 2d2ee97725da8c64bd31e223051894ab
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "3W0V2KBg92iSYgcI22Gio0",
                "type": "Entry",
                "createdAt": "2018-05-25T15:11:33.661Z",
                "updatedAt": "2018-05-31T19:17:35.264Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 7,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "section-intro"
                  }
                }
              },
              "fields": {
                "internalName": {
                  "en-US": "re|engage intro details"
                },
                "intro": {
                  "en-US": "### Description\nWhether your marriage needs to be reignited, re|engaged, or is in need of a complete resurrection, re|engage is a safe place for couples to reconnect. re|engage offers hope to marriages by helping couples move toward oneness through stories of grace, teaching and small groups. Join us for this 16-week experience which includes a time of music, prayer, a teaching or testimony by a couple who has experienced victory in the midst of hard times, and small group time which follows a specified curriculum."
                },
                "testimonial": {
                  "en-US": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Entry",
                      "id": "5utsnw4PTOsqqWUuSG4ok2"
                    }
                  }
                },
                "testimonialStyle": {
                  "en-US": "dark"
                }
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "3L5BDUDiOsacummKYYCQgw",
                "type": "Entry",
                "createdAt": "2018-05-30T22:11:43.136Z",
                "updatedAt": "2018-05-30T22:11:43.136Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "migrationHistory"
                  }
                }
              },
              "fields": {
                "migrationName": {
                  "en-US": "20180529163157_generated_diff_section-hero.ts"
                },
                "started": {
                  "en-US": "2018-05-30T22:11:39.862Z"
                },
                "completed": {
                  "en-US": "2018-05-30T22:11:42.804Z"
                },
                "detail": {
                  "en-US": [
                    {
                      "intent": {
                        "intents": [
                          {
                            "meta": {
                              "callsite": {
                                "file": "/app/db/migrate/20180529163157_generated_diff_section-hero.ts",
                                "line": 43
                              },
                              "fieldInstanceId": "fields/style/0",
                              "contentTypeInstanceId": "contentType/section-hero/0"
                            },
                            "type": "field/create",
                            "payload": {
                              "fieldId": "style",
                              "contentTypeId": "section-hero"
                            }
                          },
                          {
                            "meta": {
                              "callsite": {
                                "file": "/app/db/migrate/20180529163157_generated_diff_section-hero.ts",
                                "line": 43
                              },
                              "fieldInstanceId": "fields/style/0",
                              "contentTypeInstanceId": "contentType/section-hero/0"
                            },
                            "type": "field/update",
                            "payload": {
                              "props": {
                                "name": "Style"
                              },
                              "fieldId": "style",
                              "contentTypeId": "section-hero"
                            }
                          },
                          {
                            "meta": {
                              "callsite": {
                                "file": "/app/db/migrate/20180529163157_generated_diff_section-hero.ts",
                                "line": 43
                             [...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/sync?sync_token=wonDrcKnRgcSOF4-wrDCgcKefWzCgsOxwrfCq8KOfMOdXUPCvEnChwEEO8KFwqHDj8KxwrzDmkTCrsKWUwnDiFczCULDs08Pw5LDj1DCr8KQwoEVw7dBdhPDi23DrsKlwoPDkcKESGfCt8Kyw5hnDcOEwrkMOjLCtsOZwqzDh8OAI3ZEW8K0fELDqMKAw73DoFo-RV_DsRVteRhXw7LDulU4worCgsOlRsOVworCtgrCpnkqTBdGw6PDt8OYOcOHDw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  resp[...]
