---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/content_types?limit=1000&locale=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"331b6b833ec355efa1de449b65cc5d69"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35997'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - e6d777dd2a5d26e0b617ab2d37398f3b
      X-Iinfo:
      - 4-16110236-16110238 NNNN CT(31 32 0) RT(1521127493729 23) q(0 0 1 1) r(4 4)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 17,
          "skip": 0,
          "limit": 1000,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "section-VideoHighlight",
                "type": "ContentType",
                "createdAt": "2018-02-12T19:41:52.641Z",
                "updatedAt": "2018-02-14T18:29:57.501Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "0SUbYs2vZlXjVR6bH6o83O"
                  }
                },
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "0SUbYs2vZlXjVR6bH6o83O"
                  }
                },
                "publishedCounter": 4,
                "version": 8,
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "0SUbYs2vZlXjVR6bH6o83O"
                  }
                },
                "publishedVersion": 7,
                "firstPublishedAt": "2018-02-12T19:41:52.801Z",
                "publishedAt": "2018-02-14T18:29:57.500Z"
              },
              "displayField": "text",
              "name": "Section: Video Highlight",
              "description": "The Video Highlight section includes a player for Youtube videos.",
              "fields": [
                {
                  "id": "text",
                  "name": "Text",
                  "type": "Text",
                  "localized": false,
                  "required": true,
                  "validations": [],
                  "disabled": false,
                  "omitted": false
                },
                {
                  "id": "youtubeLink",
                  "name": "youtubeLink",
                  "type": "Symbol",
                  "localized": false,
                  "required": false,
                  "validations": [],
                  "disabled": false,
                  "omitted": false
                },
                {
                  "id": "video",
                  "name": "Video",
                  "type": "Link",
                  "localized": false,
                  "required": false,
                  "validations": [
                    {
                      "linkMimetypeGroup": [
                        "video"
                      ]
                    }
                  ],
                  "disabled": false,
                  "omitted": false,
                  "linkType": "Asset"
                },
                {
                  "id": "theme",
                  "name": "Theme",
                  "type": "Link",
                  "localized": false,
                  "required": false,
                  "validations": [
                    {
                      "linkContentType": [
                        "theme"
                      ]
                    }
                  ],
                  "disabled": false,
                  "omitted": false,
                  "linkType": "Entry"
                }
              ]
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
[...]
