---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.1; platform ruby/2.3.3; os macOS/16;
      Authorization:
      - Bearer <CONTENTFUL_MANAGEMENT_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"8cac3058e9c9c663971958a721520842"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 951d31fcd8b28818ed7cc63b002646eb
      X-Iinfo:
      - 5-30377771-30377779 NNNN CT(38 47 0) RT(1520002842617 79) q(0 0 1 1) r(5 5)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 17,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "testimonial",
                "type": "ContentType",
                "createdAt": "2018-02-12T19:47:57.690Z",
                "updatedAt": "2018-02-12T19:47:57.856Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "0SUbYs2vZlXjVR6bH6o83O"
                  }
                },
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "0SUbYs2vZlXjVR6bH6o83O"
                  }
                },
                "publishedCounter": 1,
                "version": 2,
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "0SUbYs2vZlXjVR6bH6o83O"
                  }
                },
                "publishedVersion": 1,
                "firstPublishedAt": "2018-02-12T19:47:57.856Z",
                "publishedAt": "2018-02-12T19:47:57.856Z"
              },
              "displayField": "name",
              "name": "Testimonial",
              "description": "A Testimonial contains a user's photo, a short bio, and their testimonial about the service",
              "fields": [
                {
                  "id": "name",
                  "name": "Name",
                  "type": "Symbol",
                  "localized": false,
                  "required": true,
                  "validations": [],
                  "disabled": false,
                  "omitted": false
                },
                {
                  "id": "photo",
                  "name": "Photo",
                  "type": "Link",
                  "localized": false,
                  "required": true,
                  "validations": [
                    {
                      "linkMimetypeGroup": [
                        "image"
                      ]
                    }
                  ],
                  "disabled": false,
                  "omitted": false,
                  "linkType": "Asset"
                },
                {
                  "id": "shortBio",
                  "name": "Short Bio",
                  "type": "Text",
                  "localized": false,
                  "required": false,
                  "validations": [
                    {
                      "size": {
                        "min": null,
                        "max": 100
                      },
                      "message": "The Short Bio is intended to be short.  Please keep it under 100 characters."
                    }
                  ],
                  "disabled": false,
                  "omitted": false
                },
                {
                  "id": "testimonial",
                  "name": "Testimonial",
                  "type": "Text",
                  "localized": false,
                  "required": false,
                 [...]
