---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/entries?content_type=page&limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"498403d842ef14827d8de86d22f16d2e"
      X-Contentful-Request-Id:
      - 5ab5587764e2115a03ba443238fcb778
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 8,
          "skip": 0,
          "limit": 5,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "47PsST8EicKgWIWwK2AsW6",
                "type": "Entry",
                "createdAt": "2018-02-12T20:07:13.952Z",
                "updatedAt": "2018-02-12T20:07:13.952Z",
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "page"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "title": "About",
                "slug": "about"
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "<CONTENTFUL_SPACE_ID>"
                  }
                },
                "id": "1loILDsvKYkmGWoiKOOgkE",
                "type": "Entry",
                "createdAt": "2018-02-12T20:09:20.161Z",
                "updatedAt": "2018-02-12T20:09:20.161Z",
        [...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/<CONTENTFUL_SPACE_ID>/entries?content_type=page&limit=5&skip=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CONTENTFUL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"e8e4ddd57782d72a5c84ea7ff2e2f069"
      X-Contentful-Request-Id:
      - 5[...]
